<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap -->
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('js/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet" media="screen">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                {% block navbar %}{% endblock %}
                {% block information_head %}{% endblock %}
            </div>
        </div>
        <div class="row clearfix">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block javascripts %}
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
    {% endblock %}
</body>
</html>
