{% extends "base.html.twig" %}

{% trans_default_domain "app" %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}app.brand.label{% endtrans %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans %}app.search.button.label{% endtrans %}">
                </div>
                <button type="submit" class="btn btn-default">{% trans %}app.search.button.label{% endtrans %}</button>
            </form>
            {{ knp_menu_render('AppBundle:Builder:rightNavbarMenu', { 'style': 'navbar-right' }) }}
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block content %}
        <div class="col-md-6 column">
            <div class="jumbotron well">
                <h1>
                    Target Tasks manager
                </h1>
                <p>
                    The app is under developement. But this is specially going to be used as tool for Daily Scrum Meetings.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3>{% trans %}app.login{% endtrans %}</h3>
                    {% block fos_user_content %}{% endblock %}
                </div>
            </div>
        </div>

{% endblock %}
