{% trans_default_domain "app" %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{% trans %}app.task.create.submit.label{% endtrans %}</button>
{{ form_end(form) }}
